.all__product {
  display: flex;
  width: 100%;
  background-color: rgb(238, 238, 238);
}
.all__products--select--section {
  min-width: 15%;
  padding-top: 10%;
  border-radius: 5px;
  margin-top: -5%;
  color: white;
  background-color: #178841;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid #178841;
  -webkit-box-shadow: 6px 0px 16px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 6px 0px 16px 0px rgba(0, 0, 0, 0.45);
}
.all__products--select--section > ul > li {
  margin-left: -10%;
  list-style-type: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border-bottom: 2px solid rgb(48, 196, 6);
  margin-top: 10%;
}

.all__products--select--section > ul > li:hover {
  cursor: pointer;
  background-color: #3a474e;
  color: white;
}
.all__products--select--section > h3 {
  text-align: center;
}

.all__products--section {
  padding-top: 4%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  background-color: rgba(194, 40, 40, 0);
  margin-bottom: 10px;
  text-align: center;
}
.all__products--productsection {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(194, 40, 40, 0);
  overflow-y: scroll;
}
.all__products--productsection > .product__card {
  width: 100%;
}
.all__products--productsection::-webkit-scrollbar {
  display: none;
}
.selection--header {
  background-color: #3a474e;
  color: white;
}
.selection--area {
  display: flex;
  justify-content: space-around;
  color: #3a474e;
  display: none;
}
.search--and--sort {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.sortby > select,
.categories__selection {
  width: 100%;
  border: 1px solid #178841;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  background-color: green;
}
@media screen and (max-width: 768px) {
  .all__products--select--section > ul > li {
    font-size: 8px;
    font-weight: normal;
  }
  .all__products--productsection > .product__card {
    max-width: 30%;
    min-width: 150px;
  }
  .all__products--select--section {
    display: none;
  }
  .selection--area {
    display: flex;
    background-color: #178841;
    border-radius: 15px;
    color: white;
    position: sticky;
    top: 7%;
  }
}
