.landing__page--product--section {
  width: 100%;
  background-color: rgb(208, 201, 201);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 2px 4px rgb(200, 200, 200);
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
.section__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section__body > .product__card {
  margin: 10px 20px;
}
@media screen and (max-width: 768px) {
  .all__products--section > h1 {
    font-size: 24px;
  }
  .search--and--sort > h2 + select {
    font-size: 16px;
  }
  .landing__page--product--section {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section__body > .product__card {
    max-width: 40%;
  }
}
