.carousels {
  width: 90%;
  padding: 2%;
  margin-top: 2em;
  min-width: 40vh;
  border-radius: 20px;
  margin-bottom: auto 1em;
  text-align: center;
}
.carousel-button {
  width: 40%;
  height: 10%;
  padding: 1px;
  border: 4px solid grey;
  background-color: green;
  border-radius: 15px;
  color: white;
}
