.carousels {
  width: 90%;
  padding: 2%;
  margin-top: 2em;
  min-width: 40vh;
  border-radius: 20px;
  margin-bottom: auto 1em;
  text-align: center;
}
.carousel-button {
  min-width: 40%;
  height: 10%;
  padding: 3px;
  background-color: green;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
.carousel-button:hover {
  background-color: rgb(7, 186, 7);
  transition: background-color 0.5s ease;
}
