.product-card {
  min-width: 40%;
  padding: 10px;
  margin: 2%;
  border: solid grey;
  text-align: center;
  border-radius: 5%;
}
.product-card img {
  width: 100%;
}
.shop-now-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.shop-now-button button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
}
