.product__card {
  max-width: 300px;
  padding: 10px;
  margin: 2%;
  border: 0.5px solid white;
  text-align: center;
  border-radius: 5%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(58 71 78 / 10%);
}
.product__card:hover {
  box-shadow: 0 4px 12px 0 rgb(58 71 78 / 10%);
}
.product__card--header {
  font-size: 2em;
  font-weight: bold;
  background-color: yellow;
  overflow: hidden;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a474e;
}
.product__card img {
  width: 100%;
}
.shop-now-button {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}
.shop-now-button button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  margin: 10px;
  width: 100px;
}
.shop-now-button button:hover {
  transform: translateX(1px);
  transform: scale(115%);
  box-shadow: inherit;
}
.product__card--body {
  text-align: left;
  padding: 10px;
}
.product__card--description {
  margin-top: 5px;
}
.product__card--footer {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .shop-now-button {
    width: 100%;
  }
  .product__card--footer {
    flex-direction: column;
    width: 100%;
  }
  .shop-now-button {
    min-width: 200px;
    margin: 0;
  }
}
