.product__card {
  max-width: 300px;
  padding: 10px;
  margin: 1%;
  border: 0.5px solid white;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgb(58 71 78 / 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__card:hover {
  box-shadow: 0px 8px 12px 0 rgb(58, 71, 78, 0.81);
  cursor: pointer;
}
.product__card--header {
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  background-color: #ffda00;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3a474e;
  height: 50px;
  border-radius: 15px;
}
.product__card img {
  width: 100%;
}

.product__card--body {
  text-align: left;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.product__card--description {
  margin-top: 2px;
  height: 100px;
  object-fit: cover;
  overflow: auto;
  font-size: 0.8rem;
}
.product__card--footer {
  display: flex;
  justify-content: space-evenly;
  align-self: flex-end;
}
.product--image > img {
  max-height: 200px;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .product__card {
    font-size: 0.5em;
    max-width: 30%;
  }

  .product__card--footer {
    flex-direction: column;
    width: 100%;
  }
  .shop-now-button {
    min-width: 50px;
  }
  .shop-now-button button {
    padding: 3px;
    margin: 3px;
  }
}
