.cart__page--container {
  display: flex;
  flex-direction: column;
  background-color: rgba(111, 228, 123, 0.141);
  width: 100%;
  padding: 20%;
}
.cart__table--body {
  display: flex;
  justify-content: space-between;
}

figure > img {
  width: 100%;
}
.cart__empty--img > figure > img {
  max-height: 30vh;
  object-fit: contain;
}
.cart-btn,
.cart__table--checkout--button {
  border: none;
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.cart__button {
  display: flex;
  justify-content: center;
}
.main {
  min-height: 100%;
}

/* table design */
.cart__table {
  background-color: rgba(111, 228, 123, 0.316);
  box-shadow: 0 4px 8px 0 rgb(58 71 78 / 10%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.cart__table--header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart__table--header {
  color: white;
  background: #407006;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.cart__table--body--product--qty {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__table--body--product--qty > button:first-child {
  width: 30%;
  background-color: #407006;
  color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 3px solid #407006;
  font-size: 1.5em;
}
.cart__table--body--product--qty > button:last-child {
  width: 30%;
  background-color: #407006;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 3px solid #407006;
  font-size: 1.5em;
}
.product__remove {
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  color: red;
}
.product__remove:hover {
  border: 1px solid red;
  background-color: red;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.product--qty--number {
  width: 50%;
}
.cart__table--body--product--desc {
  display: flex;
  flex-wrap: wrap;
  max-width: 33%;
}
.product__img {
  height: 150px;
  width: 150px;
}
.cart__table--footer {
  align-self: flex-end;
  width: 30%;
}
.cart__table--footer--subtotal,
.cart__table--footer--tax,
.cart__table--footer--total {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.subtotal,
.tax,
.total {
  font-size: 18px;
  font-weight: 200;
  color: gray;
}

@media screen and (max-width: 768px) {
  .cart__page--container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .cart__body > .cart__table {
    max-width: 600px;
  }
  .cart__body.cart__empty--img {
    max-width: 600px;
  }
}
