.special-item {
  display: block;
  text-align: center;
  margin-top: 2em;
  opacity: 1;
  transition: opacity 5s ease;
}
.special-item-section {
  text-align: center;
  margin-top: 1em;
  display: flex;
  overflow: scroll;
}
.special-item-section::-webkit-scrollbar {
  display: none;
}
.special-item-section > .product__card {
  min-width: 30%;
}
@media screen and (max-width: 768px) {
  .special-item-section > .product__card {
    min-width: 50%;
  }
}
