.productlanding__main {
  padding-top: 5%;
  min-height: 70vh;
  margin: 50px auto;
}
.productlanding__card {
  display: flex;
  box-shadow: 0 8px 12px 0 rgba(58, 71, 78, 0.81);
  background-color: rgba(150, 161, 123, 0.2);
  padding: 10px;
  border-radius: 10px;
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: space-between;
}
.second--card {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  text-align: center;
}
.second--card--product__cards {
  display: flex;
  flex-wrap: wrap;
}
.productlanding--img {
  max-width: 100%;
  height: 100%;
  padding: 2px;
}
.productlanding--img > img {
  max-width: 300px;
}
.productlanding--description {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.productlanding--description--imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.productlanding--description--smallimg {
  height: 100px;
  object-fit: contain;
}
.productlanding--description--smallimg:hover {
  border: 1px solid gray;
}
.productlanding--description--smallimg > img {
  height: 100%;
  width: 100%;
}
.product__landing--product--title {
  font-weight: bold;
}
.product--card--footer {
  background: green;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: 500;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .productlanding__card {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 5px;
    justify-content: space-between;
  }
  .productlanding--img {
    display: flex;
    justify-content: center;
  }
  .productlanding--img > img {
    max-height: 150px;
    max-width: 70%;
  }
  .productlanding--description--smallimg {
    height: 70px;
    width: 70px;
  }
  .second--card--product__cards > .product__card {
    max-width: 40%;
  }
}
