.login--page__body {
  height: 100vh;
  margin-top: 50px;
  padding: 2% 5%;
}
.login--page__browsinglink > .text::before {
  content: "< ";
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}
.text:hover {
  text-decoration: underline;
}
.login--page__formContainer {
  padding: 2% 2%;
  margin: 1em auto;
  background-color: white;
  border-radius: 10px;
  max-width: 500px;
}
.login--form__header {
  font-weight: 1000;
}
